@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Developer: @ViewData["Developer"]</p>

<hr />
<address>
    <strong>
        <a href="https://www.linkedin.com/in/thinogueiras/">My LinkedIn Profile</a>
        <hr />
        <a href="https://github.com/thinogueiras">My GitHub Profile</a>
        <hr />
        <a href="https://www.facebook.com/thinogueiras/">My Facebook Profile</a>
    </strong>
</address>
